asgiref==3.9.1
Brotli==1.1.0
cffi==1.17.1
charset-normalizer==3.4.3
cssselect2==0.8.0
Django==5.2.4
django-environ==0.12.0
django-qrcode==0.3
fonttools==4.59.1
iniconfig==2.1.0
packaging==25.0
pillow==11.3.0
pluggy==1.6.0
pycparser==2.22
pydyf==0.11.0
Pygments==2.19.2
pyphen==0.17.2
pytest==8.4.1
pytest-django==4.11.1
qrcode==8.2
reportlab==4.4.3
sqlparse==0.5.3
tinycss2==1.4.0
tinyhtml5==2.0.0
tqdm==4.67.1
Unidecode==1.4.0
weasyprint==66.0
webencodings==0.5.1
zopfli==0.2.3.post1
