{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %} Resetuj hasło {% endblock title %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/users/style.css' %}">
{% endblock css %}

{% block content %}
<div class="container">
    <h1>{% trans "Reset hasła" %}</h1>
        <form method="post" class="options">
            {% csrf_token %}
            <div class="row align-center">
                <!-- <div class="col col-5 right-align"> -->
                    <label for="id_email">{% trans "Adres e-mail" %}</label>
                <!-- </div> -->
                <!-- <div class="col col-5 left-align"> -->
                    <input type="email" class="form-control col-4" name="email" id="id_email">
                <!-- </div> -->
            </div>

            <div class="row align-center equal-buttons">
                <div class="col col-3">
                    <button type="submit">{% trans "Resetuj" %}</button>
                </div>
                <div class="col col-3">
                    <a href="{% url 'home' %}">{% trans "Powrót do strony głównej" %}</a>
                </div>
            </div>
        </form>
</div>

{% endblock content %}