{% extends "base.html" %}
{% load static %}
{% load static %}

{% block title %} Resetuj hasło {% endblock title %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/users/style.css' %}">
{% endblock css %}

{% block content %}
<div class="container">
    <h2>{% trans "Reset hasła" %}</h2>
    <p>{% trans "Na Twój adres e-mail została wysłana wiadomość z linkiem." %}</p>
    <div class="row options">
        <div class="col col-12">
            <a href="{% url 'home' %}">{% trans "Powrót do strony głównej" %}</a>
        </div>
    </div>
</div>

{% endblock content %}