{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Rejestracja" %}{% endblock title %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/users/style.css' %}">
{% endblock css %}

{% block content %}
<div class="container">
    <h1>{% trans "Rejestracja" %}</h1>

    <form method="post" class="options">
        {% csrf_token %}

        <div class="row align-center align-baseline">
            <div class="col col-5 stacked center-align">
                <label for="id_username">{% trans "Użytkownik" %}</label>
                <input type="text" class="form-control col-9" name="username" id="id_username">
                <div class="error">
                    {% for error in form.username.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            </div>

            <div class="col col-5 stacked center-align">
                <label for="id_email">{% trans "E-mail" %}</label>
                <input type="email" class="form-control col-9" name="email" id="id_email">
                <div class="error">
                    {% for error in form.email.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row align-center align-baseline">
            <div class="col col-5 stacked center-align">
                <label for="id_password1">{% trans "Hasło" %}</label>
                <input type="password" class="form-control col-9" name="password1" id="id_password1">
                <div class="error">
                    {% for error in form.password1.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            </div>

            <div class="col col-5 stacked center-align">
                <label for="id_password2">{% trans "Powtórz hasło" %}</label>
                <input type="password" class="form-control col-9" name="password2" id="id_password2">
                <div class="error">
                    {% for error in form.password2.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row align-center align-baseline">
            <div class="col col-5 stacked center-align">
                <label for="id_first_name">{% trans "Imię" %}</label>
                <input type="text" class="form-control col-9" name="first_name" id="id_first_name">
                <div class="error">
                    {% for error in form.first_name.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            </div>

            <div class="col col-5 stacked center-align">
                <label for="id_last_name">{% trans "Nazwisko" %}</label>
                <input type="text" class="form-control col-9" name="last_name" id="id_last_name">
                <div class="error">
                    {% for error in form.last_name.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row align-center equal-buttons">
            <div class="col col-4 me-3">
                <button type="submit">{% trans "Zarejestruj" %}</button>
            </div>
            <div class="col col-4 ms-3">
                <a href="{% url 'home' %}">{% trans "Powrót do strony głównej" %}</a>
            </div>
        </div>

    </form>
</div>
{% endblock content %}
