{% extends "base.html" %}
{% load static %}

{% block title %} Logowanie {% endblock title %}

{% block css %}
{{ block.super }}
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/users/style.css' %}">
{% endblock css %}

{% block content %}
<div class="container">
    <h1>Logowanie</h1>
        <form method="post" class="options">
            {% csrf_token %}
            <div class="row align-center">
                <div class="col col-5 stacked right-align">
                    <label for="id_username">Użytkownik</label>
                </div>
                <div class="col col-6 stacked left-align">
                    <input type="text" class="form-control" name="username" id="id_username">
                </div>
            </div>
            <div class="row align-center">
                <div class="col col-5 stacked right-align">
                    <label for="id_password">Hasło</label>
                </div>
                <div class="col col-6 stacked left-align">
                    <input type="password" class="form-control" name="password" id="id_password">
                </div>
            </div>
            
            <div class="row">
                <div class="col col-6">
                    <button type="submit">Zaloguj</button>
                </div>
                <div class="col col-6">
                    <a href="{% url 'home' %}">Powrót do strony głównej</a>
                </div>
            </div>
        </form>
</div>

{% endblock content %}