{% extends "base.html" %}
{% load static %}

{% block title %} Rejestracja {% endblock title %}

{% block css %}
{{ block.super }}
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/users/style.css' %}">
{% endblock css %}

{% block content %}
<div class="container">
    <h1>Rejestracja</h1>
        <form method="post" class="options">
            {% csrf_token %}
            <div class="row align-center align-baseline">
                <div class="col col-5 stacked center-align">
                    <label for="id_username">Użytkownik</label>
                    <input type="text" class="form-control col-9" name="username" id="id_username">
                    <div class="error">
                        {% if form.username.errors %}
                            {% for error in form.username.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="col col-5 stacked center-align">
                    <label for="id_email">Email</label>
                    <input type="email" class="form-control col-9" name="email" id="id_email">
                    <div class="error">
                        {% if form.email.errors %}
                            {% for error in form.email.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="row align-center align-baseline">
                <div class="col col-5 stacked center-align">
                    <label for="id_password1">Hasło</label>
                    <input type="password" class="form-control col-9" name="password1" id="id_password1">
                    <div class="error">
                        {% if form.password1.errors %}
                            {% for error in form.password1.errors %}
                                {{ error }}<br>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="col col-5 stacked center-align">
                    <label for="id_password2">Powtórz hasło</label>
                    <input type="password" class="form-control col-9" name="password2" id="id_password2">
                    <div class="error">
                        {% if form.password2.errors %}
                            {% for error in form.password2.errors %}
                                {{ error }}<br>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="row align-center align-baseline">
                <div class="col col-5 stacked center-align">
                    <label for="id_first_name">Imię</label>
                    <input type="text" class="form-control col-9" name="first_name" id="id_first_name">
                </div>
                <div class="col col-5 stacked center-align">
                    <label for="id_last_name">Nazwisko</label>
                    <input type="text" class="form-control col-9" name="last_name" id="id_last_name">
                </div>
            </div>

            <div class="row align-center equal-buttons">
                <div class="col col-4 me-3">
                    <button type="submit">Zarejestruj</button>
                </div>
                <div class="col col-4 ms-3">
                    <a href="{% url 'home' %}">Powrót do strony głównej</a>
                </div>
            </div>
        </form>
</div>

{% endblock content %}