{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block css %}
{{ block.super }}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/users/style.css' %}"> -->
<link rel="stylesheet" type="text/css" href="{% static 'css/payments/cart.css' %}">
{% endblock css %}

{% block title %}{% trans "Twój Koszyk" %}{% endblock title %}

{% block content %}
<div class="container wide">
    <h1>{% trans "Twój Koszyk" %}</h1>
    <table class="cart-table">
        <thead>
            <tr>
                <th>{% trans "Nazwa wydarzenia" %}</th>
                <th>{% trans "Ilość biletów" %}</th>
                <th>{% trans "Cena za bilet" %}</th>
                <th>{% trans "Usuń" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart %}
            <tr>
                <td>{{ item.event.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.event.price }}</td>
                <td>
                    <form method="post" action="{% url 'payments:remove_from_cart' item.event.pk %}">
                        {% csrf_token %}
                        <button type="submit">{% trans "Usuń" %}</button>>
                    </form>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">{% trans "Twój koszyk jest pusty." %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if total_price %}
    <h3>{% trans "Wartość koszyka:" %} {{ total_price }}</h3>
    {% endif %}
    <div class="options">
        <a href="{% url 'events:events_list' %}">{% trans "Kontynuuj zakupy" %}</a>

        <form method="post" action="{% url 'booking:cart_checkout' %}">
            {% csrf_token %}
            <button>{% trans "Potwierdź rezerwacje" %}</button>
        </form>

        <a href="#">{% trans "Rezygnuj" %}</a>
    </div>
</div>
{% endblock content %}