{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="utf-8" />
  <title>Płatność #{{ payment.id }} — start</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>
  <main class="container">
    <h1>Płatność #{{ payment.id }}</h1>
    <p>Rezerwacja: <strong>{{ payment.booking.ticket_number }}</strong></p>
    <p>Kwota: <strong>{{ payment.amount }} {{ payment.currency }}</strong></p>
    <p>Opis: {{ payment.description|default:"—" }}</p>
    <p class="event meta">Status: <code>{{ payment.status }}</code></p>

    <div class="divider"></div>

    <p>Symulacja (Dummy):</p>
    <div class="options">
      <a href="{% url 'payments:simulate_success' payment.id %}">Zasymuluj SUKCES</a>
      <a href="{% url 'payments:simulate_fail' payment.id %}">Zasymuluj PORAŻKĘ</a>
    </div>
  </main>
</body>
</html>