{% extends "base.html" %}
{% load static %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/account/style.css' %}">
{% endblock css %}

{% block title %} {% if mode == "edit" %}Edycja{% else %}Dodawanie{% endif %} wydarzenia {% endblock title %}

{% block content %}
<div class="container wide">
    <h1>{% if mode == "edit" %}Edytuj{% else %}Dodaj{% endif %} wydarzenie</h1>

    <form method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <div class="options">
            <button type="submit" class="button">
                {% if mode == "edit" %}Zapisz zmiany{% else %}Dodaj wydarzenie{% endif %}
            </button>
            <a href="{% url 'account:super_user_events_list' %}" class="button">Anuluj</a>
        </div>
    </form>
</div>
{% endblock content %}
