{% extends "base.html" %}
{% load static %}

{% block title %} Resetuj hasło {% endblock title %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/account/style.css' %}">
{% endblock css %}

{% block content %}
<div class="container">
    <h1>Reset hasła</h1>
        <form method="post" class="options">
            {% csrf_token %}
            <div class="row align-center">
                <div class="col col-4 stacked right-align">
                    <label for="id_password1">Nowe hasło</label>
                </div>
                <div class="col col-6 stacked left-align">
                    <input type="password" class="form-control" name="new_password1" id="id_password1">
                </div>
            </div>
            <div class="row align-center">
                <div class="col col-4 stacked right-align">
                    <label for="id_password2">Nowe hasło (powtórz)</label>
                </div>
                <div class="col col-6 stacked left-align">
                    <input type="password" class="form-control" name="new_password2" id="id_password2">
                </div>
            </div>
            <div class="row align-center equal-buttons">
                <div class="col col-4">
                    <button type="submit">Resetuj</button>
                </div>
                <div class="col col-4">
                    <a href="{% url 'home' %}">Powrót do strony głównej</a>
                </div>
            </div>
        </form>
</div>

{% endblock content %}