{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/account/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/account/calendar.css' %}">
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.19/index.global.min.js"></script>
<script src="{% static 'js/account/calendar.js' %}"></script>
    <!-- <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth'
        });
        calendar.render();
      });

    </script> -->
{% endblock css %}

{% block title %} {% trans "Strona Główna" %} {% endblock title %}

{% block content %}
    <div class="container wide">
        <h1>{% trans "Kulturalny Kod" %}</h1>
        <div class="row align-center align-stretch">

            <div class="col col-12 border blend">
                <h2>{% trans "Witamy," %} {{ user.username }}!</h2>
                <p>{% trans "Na swoim koncie możesz przeglądać i zarządzać swoimi rezerwacjami wydarzeń kulturalnych." %}</p>
                <p>{% trans "Zapraszamy do odkrywania nadchodzących wydarzeń i korzystania z naszej platformy!" %}</p>
            </div>
        </div>
        <div class="row align-center align-stretch">

            <div class="col col-6 border table-col blend">
                <h2>{% trans "Najbliższe rezerwacje" %}</h2>
                <table>
                    <tr>
                        <th>{% trans "Co" %}</th>
                        <th>{% trans "Gdzie" %}</th>
                        <th>{% trans "Kiedy" %}</th>
                    </tr>
                    {% for booking in nearest_3_bookings %}
                    <tr>
                        <td>{{ booking.event.name }}</td>
                        <td>{{ booking.event.city }}</td>
                        <td>{{ booking.event.date }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">{% trans "Brak rezerwacji." %}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="col col-6 border table-col blend">
                <h2>{% trans "Ostatnie rezerwacje" %}</h2>
                <table>
                    <tr>
                        <th>{% trans "Co" %}</th>
                        <th>{% trans "Gdzie" %}</th>
                        <th>{% trans "Kiedy" %}</th>
                    </tr>
                    {% for booking in last_3_bookings %}
                    <tr>
                        <td>{{ booking.event.name }}</td>
                        <td>{{ booking.event.city }}</td>
                        <td>{{ booking.event.date }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">{% trans "Brak rezerwacji." %}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

        </div>


        <div class="row align-center align-stretch">
            <div class="col col-12 border blend">
                <h2>{% trans "Mój kalendarz rezerwacji" %}</h2>
                <div id="calendar" data-booking-events='{{ booking_events|safe }}'></div>

            </div>

        </div>
        <div class="options">
            <div class="row center-align">
                <div class="col">
                    <a href="{% url 'events:events_list' %}">{% trans "Przeglądaj wydarzenia" %}</a>
                </div>
                <div class="col">
                    <a href="{% url 'booking:my_bookings' %}">{% trans "Moje rezerwacje" %}</a>
                </div>

            </div>
        </div>
    </div>

{% endblock content %}

{% block scripts %}
    {{ block.super }}
    
    
{% endblock scripts %}