{% load static %}
{% load i18n %}
<head>
    <meta charset="UTF-8">
    <title>{{ event.name }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
<div class="container">
    <h1>{{ event.name }}</h1>
    <p><strong>{% trans "Data: " %}</strong> {{ event.date|date:"Y-m-d" }}</p>
    <p><strong>{% trans "Miasto: " %}</strong> {{ event.city }}</p>
    <p><strong>{% trans "Miejsce: " %}</strong> {{ event.venue }}</p>
    <p><strong>{% trans "Dostępnych miejsc: " %}</strong> {{ event.available_seats }}</p>

    {% if event.description %}
        <p><strong>{% trans "Opis: " %}</strong> {{ event.description }}</p>
    {% endif %}

    {% if event.highlights %}
        <p><strong>{% trans "Najważniejsze atrakcje: " %}</strong></p>
        {% for point in event.highlights %}
            <p>{{ point }}</p>
        {% endfor %}
    {% endif %}


    <div class="options" style="margin-top: 30px;">
        <a class="btn" href="{% url 'booking:create' event.id %}">{% trans "Kup bilety od " %}{{ event.price }} zł</a>
    </div>

    <div class="options" style="margin-top: 30px;">
        <a href="{% url 'events:events_list' %}" class="button">{% trans "Powrót" %}</a>
    </div>
</div>
</body>