{% extends 'base.html' %}
{% load static %}

{% block title %}System Rezerwacji Biletów{% endblock %}

{% block css %}
{{ block.super }}
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Kulturalny Kod</h1>
    <p class="desc">System do rezerwacji biletów</p>
    <div class="options">
        <a href="{% url 'users:login' %}">Zaloguj się</a>
        <a href="{% url 'users:register' %}">Zarejestruj się</a>
        <a href="{% url 'events:events_list' %}">Przegląd wydarzeń</a>
    </div>
</div>
{% endblock %}