{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Rezerwacja potwierdzona" %}{% endblock %}

{% block content %}

<div class="container">
<h2>{% trans "Rezerwacja potwierdzona" %}</h2>
<hr>
{% for item in items %}
  <p>{% trans "Numer biletu: " %}<strong>{{ item.ticket_number }}</strong></p>

  <div class="booking-details">
    <p><strong>{% trans "Wydarzenie: " %}</strong> {{ item.event.name }}</p>
    <p><strong>{% trans "Data: " %}</strong> {{ item.event.date|date:"Y-m-d H:i" }}</p>
    {% if item.seat %}
    <p><strong>Miejsce: </strong>
      {{ item.seat.seat.section.name }} — Rząd {{ item.seat.seat.row }} — Miejsce {{ item.seat.seat.number }}
    </p>
    {% endif %}
    <p><strong>{% trans "Liczba biletów: " %}</strong> {{ item.quantity }}</p>
    <p><strong>{% trans "Cena całkowita:  "%}</strong> {{ item.total_price }} PLN</p>
  </div>

  <div class="options">
    {% if item.pdf_file %}
      <a href="{{ item.pdf_file.url }}" target="_blank" class="btn">
            Pobierz bilet (PDF)
        </a>
      <a href="{% url 'events:event_detail' item.event.id %}" class="btn">{% trans "Zobacz wydarzenie" %}</a>
    {% endif %}
  </div>
  <hr>
{% endfor %}
  <div class="options">
    <a href="{% url 'booking:my_bookings' %}" class="btn">{% trans "Moje rezerwacje" %}</a>
  </div>
</div>
{% endblock %}