{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'booking/css/popup_style.css' %}">
{% endblock css %}

{% block title %}Moje rezerwacje{% endblock %}

{% block content %}

{% if messages %}
  <div id="message-popup" class="message-popup">
    {% for message in messages %}
      <div class="popup {{ message.tags }}">{{ message }}</div>
    {% endfor %}
  </div>
{% endif %}


<div class="container">
  <h2>{% trans "Moje rezerwacje" %}</h2>
  <hr>
   {% if booking_items %}
    {% for item in booking_items %}
      <div class="booking-item">
        <h3>{{ item.event.name }}</h3>

        <p><strong>{% trans "Numer biletu:" %}</strong> {{ item.ticket_number }}</p>
        <p><strong>{% trans "Data wydarzenia:" %}</strong> {{ item.event.date|date:"Y-m-d H:i" }}</p>

        {% if item.seat %}
          <p><strong>{% trans "Miejsce:" %}</strong>
            {{ item.event.venue.name }} – {{ item.event.city }},
            Sektor: {{ item.seat.seat.section.name }},
            Rząd: {{ item.seat.seat.row }},
            Miejsce: {{ item.seat.seat.number }}
          </p>
        {% endif %}

        <p><strong>{% trans "Cena:" %}</strong> {{ item.total_price }} PLN</p>
        <p><strong>{% trans "Zarezerwowano:" %}</strong> {{ item.booking.created_at|date:"Y-m-d H:i" }}</p>

        <div class="options">
          {% if item.pdf_file %}
            <a href="{{ item.pdf_file.url }}" target="_blank" class="btn">
              {% trans "Pobierz bilet" %}
            </a>
          {% endif %}
          <form method="post" action="{% url 'booking:cancel_item' item.id %}">
            {% csrf_token %}
            <button type="submit">{% trans "Anuluj rezerwację" %}</button>
          </form>
        </div>
      </div>
      <hr>
    {% endfor %}
  {% else %}
    <p>{% trans "Nie masz jeszcze żadnych rezerwacji." %}</p>
    <div class="options">
      <a href="{% url 'events:events_list' %}" class="btn">{% trans "Przeglądaj wydarzenia" %}</a>
    </div>
  {% endif %}
  
  <div class="options">
    <a href="{% url 'account:home' %}" class="btn">{% trans "Powrót do strony głównej" %}</a>
  </div>
</div>

{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'booking/js/popup.js' %}"></script>
{% endblock scripts %}