{% load static %}
{% load i18n %}
{% load widget_tweaks %}

<link rel="stylesheet" type="text/css" href="{% static 'css/account/style.css' %}">

{{ wizard.management_form }}

<div class="row align-center align-baseline">
    <!-- {{ wizard.form.as_table }} -->
    <div class="col right-align">
        {{ wizard.form.token.label_tag }}
    </div>
    <div class="col col-3 left-align">
        
        {{ wizard.form.token|add_class:"form-control col-12" }}
        <div class="error">
            {% if wizard.form.otp_token.errors %}
                {{ error }}
            {% endif %}
        </div>
    </div>
</div>
<div class="error">
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            {{ error }}
        {% endfor %}
    {% endif %}
</div>
